DIE/*
dxwnd/*
ida76sp1/*
offzip/*
packets/*
packetTest/*
signsrch/*
vcpkg/*
x96dbg/*
xor/*
_sphFilesDecode/*
*.bak
_sphFileBackup/*
_sphFilesUpdated*/*
*.exe
vcpkg
*/obj/*
*/bin/*
*/.idea/*
*/.vs/*
client_*
*.txt
packets_*
emu/*
clientPacketDecodeCpp
HexToBinaryString/HexToBinaryString.deps.json
HexToBinaryString/HexToBinaryString.dll
HexToBinaryString/HexToBinaryString.runtimeconfig.json
