DIE/*
dxwnd/*
ida76sp1/*
offzip/*
packetTest/*
signsrch/*
vcpkg/*
x96dbg/*
xor/*
_sphFilesDecode/*
*.bak
_sphFileBackup/*
_sphFilesUpdated*/*
*.exe
vcpkg
*/obj/*
*/bin/*
*/.idea/*
*/.vs/*
client_*
packets_*
emu/*
clientPacketDecodeCpp
HexToBinaryString/HexToBinaryString.deps.json
HexToBinaryString/HexToBinaryString.dll
HexToBinaryString/HexToBinaryString.runtimeconfig.json
enterGame1
entityData
entityNamesCollected
itemNamesCollected
mobPacket
server_sent_coords
Kukla
DegTest
clientCoords
ClientCoordTest
