DIE/*
dxwnd/*
ida76sp1/*
offzip/*
packets/*
packetTest/*
signsrch/*
vcpkg/*
x96dbg/*
xor/*
_sphFilesDecode/*
*.bak
_sphFileBackup/*
_sphFilesUpdated*/*
*.exe
vcpkg
*/obj/*
*/*/obj/*
*/bin/*
*/*/bin/*
*/.idea/*
*/.vs/*
client_*
*.txt
packets_*